* {
	box-sizing: border-box;
}

// https://alistapart.com/article/axiomatic-css-and-lobotomized-owls

* + * {
	margin-top: 1.5em;
}

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 1.2em;
	color: #333333;
}
